:root{
    --back: #3b2020;
}

.footer{
    display:flex;
    width:100%;
    background-color: var(--back);
    text-align: center;
    justify-content: space-evenly;
    align-items: baseline;
    color:white;
}
.left-f{

}
.middle-f{
    
}
.right-f{
    
}