:root{
  --white-back: white;
  --background-col: rgb(243, 243, 243);
  --page-padding: 1rem 15rem;
  --border-col: rgb(211, 207, 207);
  --back: #3b2020;
  --back-but: #703d3d;
  --plan-back: rgba(99, 234, 234, 0.215);
  --nav-back: rgb(27, 33, 218);
  --shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.135), 0 3px 14px 0 rgba(0, 0, 0, 0.121);
}
body{
  height:100%;
  background-color: var(--background-col);
}
body, html{
  min-width: 1100px;
}
.nav-list{
  display:flex;
  width:100%;
  justify-content: center;
  background-color: var(--white-back);
  
}

nav ul li {
  margin: auto;
  display: inline;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  background-color: var(--white-back);
}

.nav-butt{
  display: flex;
  justify-content: center;
  height:40px;
  background-color: var(--white-back);
}
a > button{
  margin-right: 15px;
  border-radius: 15px;
  border-width: 1px;
  background-color: var(--white-back);
  width:115px;
  height:40px;
}
.nav-butt > a > button:hover{
  background-color: var(--plan-back);
  width:120px;
  height:40px;
  color: var(--nav-back);
}
a > button{
  text-decoration: none;
  font-size:14px;
  font-weight: bold;
  color:black;
}


header{
  padding:var(--page-padding);
  display:flex;
  justify-content: space-between;
  text-align: center;
}
header > img{
  width:100px;
  height: 110px;
}
.title > h1{
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 2.8rem;
  margin-top:0px;
}

.obrazki{
  margin-top: 1rem;
  display:flex;
  justify-content: center;
}
.obrazki > img{
  width:80vw;
  height:30vh;
}
.main-container{
  display:flex;
  flex-direction: column;
  
}
.main-container > h2{
  display:flex;
  justify-content: center;
}
.container > h1{
  display:flex;
  justify-content: center;
}
.akt{
  padding: var(--page-padding);
  
  
}
.grid-cont{
  display:grid;
  gap:0px;
  grid-template-rows: repeat(auto-fit, minmax(70px, 1fr));
  border:1px solid var(--border-col);
  border-radius: 15px;
  background-color: var(--white-back);
  padding-bottom:3rem;
  margin-top:20px;
}
.grid-cont > h2{
  display:flex;
  justify-content: center;
}
.grid-elem:first-of-type{
  margin-top: 50px !important;
}
.grid-elem{
  display:flex;
  flex-direction: row;
  border:1px solid var(--border-col);
  border-radius: 5px;
  margin:10px clamp(10px, calc(10vw - 100px), 130px);
}
.left{
  width: clamp(100px, 200px, 230px);
  display:flex;
  height: minmax(100px, 250px);  
}
.left > img{
  padding:10px;
  width: clamp(100px, 200px, 230px);
  height: minmax(100px, 250px);
}

.data-svg{
  display:flex;
  justify-content: flex-end;
  align-items: flex-start;
  height:20px;
  padding-right: 5px;
}
.text_date > p{
  padding: 0px 25px;
}
span{
  font-weight: 600;
  font-size: 1rem;
}
svg{
  width:20px;
}

@media only screen and (max-width: 1100px) {
  .obrazki > img {
    width:820px;
    height:280px;
  }
}

.footer{
  display:flex;
  width:100%;
  background-color: var(--back);
  text-align: center;
  justify-content: space-evenly;
  align-items: baseline;
  color:white;
}

/* .left-f{

}
.middle-f{
  
}
.right-f{
  
} */

/* SZKOLA */
.szkol-text{
  padding: 10px clamp(10px, calc(10vw - 100px), 130px);
}
.szkol-text > h1{
  display:flex;
  justify-content: center;
}
.szkol-zdj-tit > h3{
  display:flex;
  justify-content: center;
}
.szkol-zdj{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 15px;
}
.zdj-elem > img{
  width: clamp(100px, 330px, 330px);
  height: minmax(100px, 350px);
}
.zdj-elem{
  display:flex;
  justify-content: center;
  /* background-color: #bccbde; */
}

/* STREFA UCZNIA */
.strefa-kl{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 70px 15px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.kl-elem{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  /* background-color: #bccbde; */
}
.kl-elem > p{
  text-align: center;
  margin:0;
  font-size: 1.2rem;
  font-weight: 500;
}
.kl-elem > a{
  text-align: center;
  margin:0;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}
hr{
  width:100%;
  height:2px;
  color: var(--back);
  background-color: var(--back);
  border-color: var(--back);
  border-width: 1px;
  border-top-style: none;
  border-left-style: none;
  box-shadow: var(--shadow);
}
/* DOKUMENTY */
.doc{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 40px 15px;
  padding-bottom: 50px;
  padding-top: 50px;
} 
.doc-elem{
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;


  /* background-color: #bccbde; */
}
.doc-elem > p{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}
p > a{
  text-align: center;
  margin:0;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}
.dok-but{
  display:flex;
  justify-content: space-evenly
}
.dok-but > button{
  background-color: var(--back);
  color: var(--white-back);
  margin-top:1rem;
  height: 3rem;
  width:8rem;
  font-size:1rem;
  font-weight: bold;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  z-index: 2;
  margin-bottom:-2px;
}
.dok-but + hr{
  margin-top:0;
  z-index: 3;
}
.dok-but > button:hover{
  background-color: var(--back-but);
}
.dok-but > button:focus{
  background-color: var(--back-but);
}
/* PLANY ZAJĘĆ */
.plan{
  display:grid;
  grid-template-columns: 1.4fr 5fr;
  grid-template-rows: 40vh;
  gap: 40px 15px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.plan-elem{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  /* background-color: #bccbde; */
}
.plan-left, .plan-right{
  background-color: var(--plan-back);
  border-radius: 10px;
  
}
.plan-left{
  grid-column: 1/1;
  grid-row: 1/2;
}
.plan-right{
  
}
.plan-text{
  padding: 10px clamp(10px, calc(8vw - 100px), 130px);
}
.plan-text > h1{
  display:flex;
  justify-content: center;
}
.plan-elem > ul > li > a{
  text-decoration: none;
  color:black;
}
.plan-elem > ul > li > a:hover{
  color:var(--nav-back);
}