:root{
    --white-back: white;
    --background-col: rgb(243, 243, 243);
    --page-padding: 1rem 5rem;
}
body{
    height:100%;
    background-color: var(--background-col);
}
.nav-list{
    display:flex;
    width:100%;
    justify-content: center;
    background-color: var(--white-back);
    
}

nav ul li {
    margin: auto;
    display: inline;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    background-color: var(--white-back);
}
header{
    padding:var(--page-padding);
    display:flex;
    justify-content: space-between;
    text-align: center;
}
header > img{
    width:100px;
    height: 110px;
}
.title > h1{
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 2.8rem;
    margin-top:0px;
}